.hello_container {
  background: var(--color2-blue);
  height: 100vh;
  /* width: 90%; */
  margin: auto;
  padding: 0 8rem;
}

.hello__phrase {
  padding-top: 10%;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* hello, I'm Tulio  */
.hello__phrase h2 {
  color: var(--color4-grey-light);
  font-size: 5rem;
  font-weight: var(--font-weight-medium);
  align-self: end;
}

.hello__phrase h2 span {
  color: var(--color4-grey-light);
  font-size: 5rem;
  font-weight: var(--font-weight-semi-bold);
}

/* front-end & developer  */
.hello__phrase h1:nth-of-type(1),
h1:nth-of-type(2) {
  color: var(--color4-grey-light);
  font-size: 20rem;
  font-weight: var(--font-weight-medium);
  font-family: "Alfa Slab One", cursive;
  line-height: 17rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.2rem var(--color1-pink);
}

/* developer */
.hello__phrase h1:nth-of-type(2) {
  text-align: right;
}

.hello__phrase h1:nth-of-type(2) span {
  font-family: "Alfa Slab One", cursive;
  font-size: 20rem;
  -webkit-text-fill-color: var(--color1-pink);
  -webkit-text-stroke: 0;
}

.hello__photo {
  max-height: 90rem;
  position: absolute;
  bottom: 0rem;
  right: 10rem;
  z-index: 1;
  filter: drop-shadow(0.5rem 0.1rem 0 var(--color4-grey-light)) brightness(90%);
}

/* MacBook Pro 14"  */
@media only screen and (max-width: 1512px) {
  .hello__photo {
    max-height: 84rem;
    right: 10rem;
  }
}

/* iPad Air 820 x 1180  */
@media only screen and (max-width: 820px) {
  .hello_container {
    width: 100%;
    padding: 0 5rem;
  }

  /* hello, I'm Tulio  */
  .hello__phrase {
    padding-top: 25rem;
  }

  .hello__phrase h2 span {
    font-size: 5rem;
  }

  /* front-end & developer  */
  .hello__phrase h1:nth-of-type(1),
  h1:nth-of-type(2) {
    font-size: 12rem;
    line-height: 10rem;
  }

  /* developer */
  .hello__phrase h1:nth-of-type(2) {
    text-align: right;
  }

  .hello__phrase h1:nth-of-type(2) span {
    font-size: 12rem;
  }

  .hello__photo {
    max-height: 115rem;
    right: 0;
    top: 3rem;
    object-position: 15rem;
  }
}

/* iPad Air 1180 x 820 (portrait)  */
@media only screen and (min-width: 1180px) and (max-width: 1180px) {
  .hello_container {
    width: 100%;
    padding: 0 5rem;
  }

  /* hello, I'm Tulio  */
  .hello__phrase {
    padding-top: 15rem;
  }

  .hello__phrase h2 span {
    font-size: 5rem;
  }

  /* front-end & developer  */
  .hello__phrase h1:nth-of-type(1),
  h1:nth-of-type(2) {
    font-size: 12rem;
    line-height: 10rem;
  }

  /* developer */
  .hello__phrase h1:nth-of-type(2) {
    text-align: right;
  }

  .hello__phrase h1:nth-of-type(2) span {
    font-size: 12rem;
  }

  .hello__photo {
    max-height: 81rem;
    object-fit: cover;
    left: 50rem;
    top: 1rem;
    object-position: 1rem;
  }
}

/* iPhone 11 Pro Max / XR 414 x 896  */
@media only screen and (max-width: 414px) {
  .hello_container {
    padding: 0 2rem;
  }

  /* hello, I'm Tulio  */
  .hello__phrase {
    padding-top: 80%;
  }

  .hello__phrase h2 {
    font-size: 3.3rem;
  }

  .hello__phrase h2 span {
    font-size: 3.3rem;
  }

  /* front-end & developer  */
  .hello__phrase h1:nth-of-type(1),
  h1:nth-of-type(2) {
    font-size: 6.6rem;
    line-height: 6rem;
    -webkit-text-stroke: 0.1rem var(--color1-pink);
  }

  .hello__phrase h1:nth-of-type(2) span {
    font-size: 6.6rem;
  }

  .hello__photo {
    max-height: 89rem;
    right: 0;
    top: 1rem;
    object-position: 17rem 3rem;
  }
}

/* iPhone 11 Pro Max / XR 896 x 414 (portrait) */
@media only screen and (min-width: 805px) and (max-width: 819px) {
  .hello_container {
    padding: 4rem;
    width: 100%;
  }

  /* hello, I'm Tulio  */
  .hello__phrase {
    padding-top: 10%;
  }

  .hello__phrase h2 {
    font-size: 3rem;
  }

  .hello__phrase h2 span {
    font-size: 3.3rem;
  }

  /* front-end & developer  */
  .hello__phrase h1:nth-of-type(1),
  h1:nth-of-type(2) {
    letter-spacing: 0.5rem;
    font-size: 8rem;
    line-height: 7rem;
    -webkit-text-stroke: 0.1rem var(--color1-pink);
  }

  .hello__phrase h1:nth-of-type(2) span {
    font-size: 8rem;
  }

  .hello__photo {
    max-height: 89rem;
    right: 2rem;
    top: 1rem;
    object-position: 8rem -1rem;
  }
}

/* iPhone 13 Pro 390 x 844  */
@media only screen and (max-width: 390px) {
  /* hello, I'm Tulio  */
  .hello__phrase h2 {
    /* margin-top: 70%; */
    font-size: 3.2rem;
  }

  .hello__phrase h2 span {
    font-size: 3.2rem;
  }

  /* front-end & developer  */
  .hello__phrase h1:nth-of-type(1),
  h1:nth-of-type(2) {
    font-size: 5rem;
    -webkit-text-stroke: 0.1rem var(--color1-pink);
  }

  .hello__phrase h1:nth-of-type(2) span {
    font-size: 5rem;
  }

  .hello__photo {
    max-height: 85rem;
    top: 1rem;
  }
}
