.footer_container {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 4rem 8rem;
  color: var(--color4-grey-light);
}

.footer__back_top {
  text-align: center;
  cursor: pointer;
}

.footer__back_top img {
  height: 3rem;
}

.footer__back_top img:hover {
  filter: invert(44%) sepia(49%) saturate(3953%) hue-rotate(316deg)
    brightness(96%) contrast(84%);
}

.footer__back_top p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer__back_top p:hover {
  color: var(--color1-pink);
  transition: 0.5s;
}

.footer_container h2 {
  font-size: 4.4rem;
  font-weight: var(--font-weight-light);
  margin: 4rem 0;
}

.footer_container h2 span:nth-of-type(1),
span:nth-of-type(3) {
  font-size: 4.4rem;
  font-weight: var(--font-weight-black);
  color: var(--color1-pink);
}

.footer_container h2 span:nth-of-type(2) {
  font-size: 4.4rem;
  font-weight: var(--font-weight-black);
}

.footer__icons {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  margin-bottom: 4rem;
}

.footer__icons img:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(103%)
    contrast(103%);
  transition: 0.9s;
}

.footer__copyright p {
  color: var(--color5-grey-medium);
  font-size: 1.5rem;
  font-weight: var(--font-weight-light);
}

.footer__copyright span {
  color: var(--color5-grey-medium);
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
}

/* iPad Air 820 x 1180  */

@media only screen and (max-width: 820px) {
  .footer_container {
    padding: 2rem 5rem;
  }

  .footer__back_top img {
    height: 2rem;
  }

  .footer__back_top p {
    font-size: 1rem;
  }

  .footer_container h2 {
    margin: 1rem 0;
    font-size: 3.5rem;
  }

  .footer_container h2 span:nth-of-type(1),
  span:nth-of-type(3) {
    font-size: 3.5rem;
  }

  .footer_container h2 span:nth-of-type(2) {
    font-size: 3.5rem;
  }

  .footer__icons {
    margin-bottom: 2rem;
  }

  .footer__icons img {
    height: 2rem;
  }

  .footer__copyright p {
    font-size: 1rem;
  }

  .footer__copyright span {
    font-size: 1rem;
  }
}

/* iPad Air 1180 x 820 (portrait)  */

@media only screen and (min-width: 1180px) and (max-width: 1180px) {
  .footer_container {
    padding: 2rem 5rem;
  }

  .footer__back_top img {
    height: 2rem;
  }

  .footer__back_top p {
    font-size: 1rem;
  }

  .footer_container h2 {
    margin: 1rem 0;
    font-size: 3.5rem;
  }

  .footer_container h2 span:nth-of-type(1),
  span:nth-of-type(3) {
    font-size: 3.5rem;
  }

  .footer_container h2 span:nth-of-type(2) {
    font-size: 3.5rem;
  }

  .footer__icons {
    margin-bottom: 2rem;
  }

  .footer__icons img {
    height: 2rem;
  }

  .footer__copyright p {
    font-size: 1rem;
  }

  .footer__copyright span {
    font-size: 1rem;
  }
}

/* iPhone 11 Pro Max / XR 414 x 896  */

@media only screen and (max-width: 414px) {
  .footer_container h2 {
    font-size: 3rem;
  }

  .footer_container h2 span:nth-of-type(1),
  span:nth-of-type(3) {
    font-size: 3rem;
  }

  .footer_container h2 span:nth-of-type(2) {
    font-size: 3rem;
  }
}

/* iPhone 11 Pro Max / XR 896 x 414 (portrait) */

@media only screen and (min-width: 805px) and (max-width: 819px) {
  .footer_container {
    padding: 4rem 0;
  }

  .footer__back_top img {
    height: 2rem;
  }

  .footer__back_top p {
    font-size: 1rem;
  }

  .footer_container h2 {
    margin: 1rem 0;
    font-size: 3.5rem;
  }

  .footer_container h2 span:nth-of-type(1),
  span:nth-of-type(3) {
    font-size: 3.5rem;
  }

  .footer_container h2 span:nth-of-type(2) {
    font-size: 3.5rem;
  }

  .footer__icons {
    margin-bottom: 2rem;
  }

  .footer__icons img {
    height: 2rem;
  }

  .footer__copyright p {
    font-size: 1rem;
  }

  .footer__copyright span {
    font-size: 1rem;
  }
}

/* iPhone 13 Pro 390 x 844  */

@media only screen and (max-width: 390px) {
}
