:root {
    --color1-pink: #E14c79;
    --color2-blue: #183c50;
    --color3-white: #ffffff;
    --color4-grey-light: #dcdcdc;
    --color5-grey-medium: #808080;
    --color6-grey-dark: #3a3a3a;
    
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500; 
    --font-weight-semi-bold: 600; 
    --font-weight-bold: 700; 
    --font-weight-extra-bold: 800; 
    --font-weight-black: 900; 

  }
  
  html {
    min-height: 100%;
    /* width: 100%; */
    /* background-color: var(--color2-blue); */
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* base font size to 10px, to facilitate using REM unit */
    font-family: 'Poppins', sans-serif;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }